.nav {
  width: 100%;
  top: 0px;
  z-index: 1;
  height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
    0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
  z-index: 1;
}
.name {
  top: -0px;
  margin-left: 26px;
  margin-top: 0px;
  display: block;
  position: relative;
  text-decoration: none;
  width: 300px;
}
.nav .name h1 {
  color: white;
}
.nav-options {
  position: relative;
  padding-top: 30px;
  text-decoration: none;
  margin-right: 0px;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}
.list {
  list-style: none;
  display: inline-block;
  padding-right: 78px;
  padding-bottom: 20px;
}
.nav-options .ul .list a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
}
.burger {
  display: none;
}
.nav-options .ul .list a:hover {
  color: rgba(51, 50, 50, 0.8);
}
.nav-options .ul .list a:active {
  color: rgba(51, 50, 50, 0.8);
}

.imgprofile {
  position: relative;
  align-items: center;
  text-decoration: none;
  width: 780px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
    0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
}
.mypic {
  margin: auto;
  padding-top: 20px;
  padding-left: 1px;
  padding-bottom: 20px;
  border-radius: 5%;
  width: 370px;
  height: 558px;
}
.mydetails {
  margin: auto;
  color: black;
  padding-left: 15px;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
}
.imgprofile {
  color: black;
}
.mydetails .hi {
  text-decoration: none;

  padding-top: 0%;
  font-size: 1.3rem;
  color: black;
  margin: 0%;
  margin-top: 56px;
  padding-left: 12px;
  font-weight: 500;
}
.mydetails .pavan {
  font-size: 4rem;
  margin: -15%;
  margin-left: 3%;
  padding: 0%;
  color: black;
  padding-top: 10px;
}
.mydetails .developer {
  font-size: 1.3rem;
  margin: 0%;
  color: black;
  margin-top: 10px;
  padding-left: 12px;
  font-weight: 800;
}

.mydetails .description {
  margin: 0%;
  margin-top: 10px;
  color: black;
  padding-left: 12px;
  padding-right: 13px;
}

.mydetails .DOBimage {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding-left: 12px;
  opacity: 50%;
}

.detail1 {
  color: black;
  text-decoration: none;
  padding-top: 20px;
  display: flex;
}
.detail1 h5 {
  font-weight: 300;
  color: black;
  font-size: 1rem;
  padding-left: 10px;
  margin: 0%;
  margin-top: 12px;
}
.detail2 {
  display: flex;
  padding-top: 20px;
}
.detail2 h5 {
  font-weight: 300;
  font-size: 1rem;
  color: black;
  padding-left: 0px;
  margin: 0%;
  margin-top: 12px;
}
.detail2 .contactlogo {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  padding-left: 12px;
  opacity: 50%;
}

.detail3 {
  display: flex;
  padding-top: 20px;
}
.detail3 h5 {
  font-weight: 300;
  color: black;
  font-size: 1rem;
  margin: 0%;
  margin-top: 12px;
  padding-left: 10px;
}
.detail3 .emaillogo {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding-left: 12px;
  opacity: 50%;
}

.socialmedia {
  display: flex;
  padding-top: 30px;
}
.socialmedia img {
  padding: 10px;
  padding-left: 20px;
  width: 40px;
  height: 40px;
}
.socialmedia a .fblogo {
  width: 70px;
}

.socialmedia img:hover {
  opacity: 40%;
}
@media screen and (max-width: 769px) {
  .imgprofile {
    flex-direction: column;
    margin-top: 100px;
    width: 460px;
    border-radius: 0px;
    padding-bottom: 20px;
  }
  .mypic {
    width: 90%;
  }
  .mydetails {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 698px) {
  .imgprofile {
    width: 380px;
  }
}
@media (max-width: 640px) {
  .imgprofile {
    width: 350px;
  }
}
@media screen and (max-width: 1185px) {
  .burger {
    display: block;
  }

  .burger a {
    color: white;
    font-size: 1.8rem;
  }

  .burger {
    margin-right: 20px;
    padding-top: 4px;
  }
  .burger a:hover {
    color: rgba(51, 50, 50, 0.8);
  }
  .ul {
    flex-direction: column;
    position: absolute;
    right: -500px;
    align-items: center;
    display: block;
    transition: 0.5s;
  }
  .nav-options .ul .list {
    display: block;
    margin-top: 10px;
    box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
      0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
      0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
    background: url("/images/top-view-book-old-wooden-plank-background-vintage-effect-style-pictures.jpg");
  }
  .nav-options {
    position: absolute;
    right: 0px;
    top: 3px;
  }
  .nav-options .ul .list a {
    text-align: center;
    padding-left: 80px;
  }
  .ul-active {
    right: 0px;
  }
}
