.nav {
  width: 100%;
  top: 0px;
  z-index: 1;
  height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
    0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
  z-index: 1;
}
.name {
  top: -0px;
  margin-left: 26px;
  margin-top: 0px;
  display: block;
  position: relative;
  text-decoration: none;
  width: 300px;
}
.nav .name h1 {
  color: white;
}
.nav-options {
  position: relative;
  padding-top: 30px;
  text-decoration: none;
  margin-right: 0px;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}
.list {
  list-style: none;
  display: inline-block;
  padding-right: 78px;
  padding-bottom: 20px;
}
.nav-options .ul .list a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
}
.burger {
  display: none;
}
.nav-options .ul .list a:hover {
  color: rgba(51, 50, 50, 0.8);
}
.nav-options .ul .list a:active {
  color: rgba(51, 50, 50, 0.8);
}

.contactMe {
  position: relative;
  width: 700px;
  margin: 100px auto;
}
.contactMe .socialMedia ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
    0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
}
.contactimages {
  width: 100px;
  height: 100px;
}
.socialLogo {
  list-style: none;
}

#contactimages2 {
  width: 150px;
}
.contactimages {
  padding-top: 10px;
}
#social4 {
  padding-right: 35px;
}
.contactMe .socialMedia ul .socialLogo a :hover {
  filter: grayscale(100%);
}

.orClass {
  position: relative;
  display: inline-block;
  margin: 60px auto;
  left: 330px;
}
.or {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.sending {
  margin: 10px auto;

  box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
    0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
}
input {
  position: relative;
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
}
.sendingsub {
  position: relative;
}
form {
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  color: white;
  font-weight: 700;
}
textarea {
  width: 400px;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
}
.submit {
  width: 80px;
  height: 40px;
  font-family: "Baloo Bhai 2", cursive;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  background: none;
  box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
    0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
}
.submit:hover {
  color: rgba(51, 50, 50, 0.8);
}

.submitbutton {
  padding-top: 10px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1185px) {
  .burger {
    display: block;
  }

  .burger a {
    color: white;
    font-size: 1.8rem;
  }

  .burger {
    margin-right: 20px;
    padding-top: 4px;
  }
  .burger a:hover {
    color: rgba(51, 50, 50, 0.8);
  }
  .ul {
    flex-direction: column;
    position: absolute;
    right: -500px;
    align-items: center;
    display: block;
    transition: 0.5s;
  }
  .nav-options .ul .list {
    display: block;
    margin-top: 10px;
    box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
      0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
      0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
    background: url("/images/top-view-book-old-wooden-plank-background-vintage-effect-style-pictures.jpg");
  }
  .nav-options {
    position: absolute;
    right: 0px;
    top: 3px;
  }
  .nav-options .ul .list a {
    text-align: center;
    padding-left: 80px;
  }
  .ul-active {
    right: 0px;
  }
}

@media screen and (max-width: 740px) {
  .contactMe {
    width: 480px;
    margin: 100px auto;
  }

  .contactimages {
    width: 50px;
    height: 50px;
  }
  #contactimages2 {
    width: 100px;
  }
  .orClass {
    left: 220px;
  }
}
@media (max-width: 698px) {
  .contactMe {
    width: 400px;
  }
  .contactimages {
    width: 40px;
    height: 40px;
  }
  #contactimages2 {
    width: 80px;
  }
  .orClass {
    left: 175px;
  }
  .sendingsub {
    width: 360px;
  }
  input {
    width: 310px;
  }
  textarea {
    width: 310px;
  }
}
@media (max-width: 640px) {
  .contactMe {
    width: 370px;
  }
  .contactimages {
    width: 35px;
    height: 35px;
  }
  #contactimages2 {
    width: 70px;
  }
  .orClass {
    left: 170px;
  }
  .sendingsub {
    width: 340px;
  }
  input {
    width: 280px;
  }
  textarea {
    width: 280px;
  }
}
