.nav {
  width: 100%;
  top: 0px;
  z-index: 1;
  height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
    0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
    0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
  z-index: 1;
}
.name {
  top: -0px;
  margin-left: 26px;
  margin-top: 0px;
  display: block;
  position: relative;
  text-decoration: none;
  width: 300px;
}
.nav .name h1 {
  color: white;
}
.nav-options {
  position: relative;
  padding-top: 30px;
  text-decoration: none;
  margin-right: 0px;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}
.list {
  list-style: none;
  display: inline-block;
  padding-right: 78px;
  padding-bottom: 20px;
}
.nav-options .ul .list a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
}
.burger {
  display: none;
}
.nav-options .ul .list a:hover {
  color: rgba(51, 50, 50, 0.8);
}
.nav-options .ul .list a:active {
  color: rgba(51, 50, 50, 0.8);
}

@media screen and (max-width: 1185px) {
  .burger {
    display: block;
  }

  .burger a {
    color: white;
    font-size: 1.8rem;
  }

  .burger {
    margin-right: 20px;
    padding-top: 4px;
  }
  .burger a:hover {
    color: rgba(51, 50, 50, 0.8);
  }
  .ul {
    flex-direction: column;
    position: absolute;
    right: -500px;
    align-items: center;
    display: block;
    transition: 0.5s;
  }
  .nav-options .ul .list {
    display: block;
    margin-top: 10px;
    background: url("/images/top-view-book-old-wooden-plank-background-vintage-effect-style-pictures.jpg");
    box-shadow: 0 -35.2px 30.2px rgb(0 0 0 / 3%), 0 1.7px 19.3px rgb(0 0 0),
      0 12.5px 10px rgb(0 0 0 / 6%), 0 2.3px 15.9px rgb(0 0 0 / 7%),
      0 41.8px 33.4px rgb(0 0 0 / 9%), 0 101px 80px rgb(0 0 0 / 12%);
  }
  .nav-options {
    position: absolute;
    right: 0px;
    top: 3px;
  }
  .nav-options .ul .list a {
    text-align: center;
    padding-left: 80px;
  }
  .ul-active {
    right: 0px;
  }
}

.myallskills {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.mySkill {
  width: 400px;
  background-color: white;
  border-radius: 5px;
}

.myallskills .mySkill h1 {
  padding-left: 10px;
}
.myallskills .mySkill p {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1240px) {
  .mySkill {
    width: 300px;
  }
}
@media screen and (max-width: 953px) {
  .mySkill {
    width: 240px;
  }
}
@media (max-width: 773px) {
  .myallskills {
    flex-direction: column;
  }
  .mySkill {
    width: auto;
    padding-bottom: 10px;
    margin: 30px;
    margin-left: 30px;
  }
}
